[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style
[submodule "github-style"]
	path = github-style
	url = https://github.com/MeiK2333/github-style
